@import "../../../display/style/style.scss";

// BLOG ITEM
.blog-item {
  margin-right: 6px;
  .blog-item-image {
    margin-left: 50%;
    margin-top: 21px;
    max-width: 600px;
    transform: translateX(-50%);
    width: 100%;
  }
  .blog-item-title {
    color: $colour3;
    font-size: 42px;
    text-align: center;
  }
  .blog-item-date {
    color: $colour4;
    font-size: 21px;
    font-weight: 800;
    text-align: center;
  }
  .blog-item-text {
    font-size: 21px;
    text-align: justify;
    padding: 21px 2%;
  }
}

// CONTACT
.contact-links-container {
  display: flex;
  justify-content: space-around;
  margin-top: 21px;
  max-width: 400px;
  .contact-link {
    .contact-link-image {
      width: 60px;
    }
  }
}
.contact-form-container {
  margin-top: 21px;
  max-width: 600px;
  .contact-form-greet {
    font-size: 21px;
    text-align: center;
  }
  .contact-form-error-container {
    color: $colour4;
    height: 21px;
    text-align: center;
  }
}

// HOME
.home-links-container {
  margin: 21px auto 0 auto;
  text-align: center;
  .home-link {
    .home-link-image {
      margin: 0 7px;
      width: 70px;
    }
  }
}
.home-title-container {
  margin: -14px auto 0 auto;
  max-width: 600px;
  .home-title {
    font-size: 58px;
    text-align: center;
    .dougie {
      color: $colour3;
      font-family: $font1;
      margin-right: -7px;
    }
    .hawes {
      color: $colour4;
      font-family: $font1;
      margin-left: -7px;
    }
  }
  .home-subtitle {
    font-size: 29px;
    text-align: center;
  }
}
.mern-container {
  display: flex;
  height: 210px;
  justify-content: space-around;
  margin: 21px auto 0 auto;
  max-width: 300px;
  .mern-item-container {
    height: 70px;
    width: 21%;
    .mern-item-image {
      width: 100%;
    }
    .mern-item-text {
      font-size: 70px;
      margin-top: -14px;
      text-align: center;
    }
  }
}
.home-work-samples-container {
  display: flex;
  flex-wrap: wrap;
  margin: -70px auto 0 auto;
  max-width: 950px;
  width: 100%;
  .home-work-sample {
    border-width: 2px;
    cursor: pointer;
    margin-bottom: 14px;
    position: relative;
    width: 300px;
    .home-work-sample-image {
      width: 100%;
    }
    .home-work-sample-text-container {
      bottom: 0;
      position: absolute;
      width: 100%;
      .home-work-sample-category {
        font-family: $font1;
      }
      .home-work-sample-category,
      .home-work-sample-title {
        color: $colour1;
        font-size: 42px;
        opacity: 0;
        text-align: center;
        text-shadow: 1px 1px 1px $colour2, 1px -1px 1px $colour2,
          -1px 1px 1px $colour2, -1px -1px 1px $colour2;
        transition: 0.6s opacity ease-in-out;
      }
    }
  }
  .home-work-sample:hover {
    .home-work-sample-category,
    .home-work-sample-title {
      opacity: 1;
    }
  }
}

// SKILLS
.skills-grid {
  display: flex;
  flex-wrap: wrap;
}

// SKILL MODAL
.skill-modal-container {
  .skill-modal {
    border-width: 2px;
    left: 50%;
    min-height: 420px;
    position: absolute;
    transform: translateX(-50%);
    top: 42px;
    width: 300px;
    z-index: 999;
    .skill-modal-title {
      color: $colour3;
      font-size: 42px;
      font-weight: bold;
      text-align: center;
    }
    .skill-modal-image {
      margin-left: 50%;
      transform: translateX(-50%);
      width: 140px;
    }
    .skill-modal-level {
      color: $colour4;
      font-size: 21px;
      font-weight: bold;
      margin-top: -7px;
      text-align: center;
    }
    .skill-modal-details {
      padding: 18px;
      text-align: justify;
    }
    .skill-modal-close {
      cursor: pointer;
      font-weight: 800;
      font-size: 21px;
      position: absolute;
      right: 12px;
      top: 6px;
    }
  }
  .skill-modal-lightmode {
    background-color: $colour1;
  }
  .skill-modal-darkmode {
    background-color: $colour2;
  }
  .skill-modal-background {
    background-color: rgba($color: $colour2, $alpha: 0.42);
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

// WORKS
.work-grid {
  display: flex;
  flex-wrap: wrap;
}
.work-item-page {
  display: flex;
  flex-wrap: wrap;
  .work-item-page-column {
    display: block;
    height: auto;
    padding: 0 6px;
    max-width: 640px;
    object-fit: cover;
    width: 100%;
    .work-item-page-title-container {
      .work-item-page-title {
        font-family: $font1;
        font-size: 42px;
      }
      .work-item-page-date {
        color: $colour4;
        font-size: 21px;
        margin-top: -14px;
        font-weight: 800;
      }
      .work-item-skills-array {
        padding: 6px 2%;
        .work-item-skills-array-item {
          color: $colour3;
          cursor: pointer;
          font-weight: 800;
        }
      }
    }
    .work-item-image-container {
      border-width: 2px;
      margin-right: 6px;
      max-height: 400px;
      overflow: hidden;
      width: 100%;
      .work-item-image {
        display: block;
        height: auto;
        max-width: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
    .work-item-image-scroll-container {
      display: flex;
      .work-item-image-scroll-button {
        background-color: rgba($color: #000000, $alpha: 0);
        border-width: 2px;
        font-size: 21px;
        cursor: pointer;
        margin: 6px;
        padding: 6px;
        width: 100%;
      }
    }
    .work-item-image-thumbnails {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .work-item-image-thumbnail {
        border-width: 2px;
        margin: 2px;
        width: 140px;
      }
    }
    .work-item-links-container {
      margin-top: 21px;
    }
    .work-item-description-container {
      padding: 6px 0;
      text-align: justify;
    }
  }
}
